<footer class="page-footer font-small background-image pt-4">
    <div class="container-fluid text-center text-md-left footer-content">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>footer content.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Categories</h5>
                <ul class="list-unstyled footer-list">
                    <li *ngFor="let category of categoryModel">
                        <a *ngIf="category.parentCategory" href="#">{{category.categoryName}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled footer-list">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <h6 translate> layout.follow &nbsp;&nbsp;</h6>
        <i class="fa fa-facebook-square icons" title="{{'layout.facebook' | translate}}"></i>&nbsp;
        <i class="fa fa-twitter icons" title="{{'layout.twitter' | translate}}"></i>&nbsp;
        <i class="fa fa-instagram icons" title="{{'layout.instagram' | translate}}"></i>&nbsp;
    </div>
</footer>